
    .secondary.text.menu .toc.item {
      display: none;
    }

    .text.container.segment {
      font-size:1.3em;
    }

    .ui.centered.medium.circular.image {
      margin-bottom:1em;
    }

    .section {
      margin-top:1px;
      padding-top:5.5em;
      padding-bottom:1em;
    }

    .ui.header {
      color: #3CC6BC;
    }

    .ui.header a {
      color: #3CC6BC;
    }

    .logo {
      color:#61D8CF;
    }

    .description a {
      color: #61D8CF;
    }

    .ui.items > .item {
      margin-top:3em;
    }

    @media only screen and (max-width: 480px) {
      .text.container.segment {
        padding: 0.5em;
      }
    }

    @media only screen and (max-width: 700px) {
      .icon {
        font-size:1.3em !important;
      }
    }
